.success_result .tip_left{
	width:243px;
	float:left;
	background: url(../../image/user/activationfail.png) center no-repeat;
	height:400px;
}
.success_result p.info_top{
	line-height:75px;
}
.success_result p{
	margin-left:55px;
}