.right_content .title{
	height:35px;
	background: #e6e6e6;
	line-height:35px;
}
.right_content .title .block{
	width:4px;
	height:35px;
	float:left;
	background: #3f67bf;
	margin-right:18px;
}

.right_content .title p{
	float:left;
	color:#333;
	font-size:14px;
	font-weight: bold;
}

.right_content .title .more{
	float:right;
	margin-right:15px;
}
.right_content .title .more a{
	color:#999999;
}


.email_list{
	margin:23px 17px;
}
.email_list .head{
	height:40px;
	background: #3f67bf;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	padding-left:24px;
}
.email_list .content{
	border-bottom:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	height:35px;
	font-size:12px;
	color:#666666;
	text-align: left;
	text-indent: 15px;
	text-align: center;
	
}
.email_list .content.tip{
	font-weight:bold;
	text-align: center;
	text-indent: 0;
}
.email_list .no_notice{
	padding:60px 0 70px 260px;
	border:1px solid #cfcfcf;
	border-top:0;
}
.email_list .no_notice p{
	height:18px;
	line-height:18px;
	background: url(../../image/user/member/alert.png) no-repeat left;
	padding-left:28px;
	font-size:16px;
	color:#000;
	
}
.email_list .content .content_col{
	float:left;
	border-left:1px solid #d1d1d1;
	height:35px;
	line-height:35px;
}

.email_list .content.select .content_col {
	background: #f3f3f3;
}

.email_list .content .content_col.time{
	width:120px;
}

.email_list .content .content_col.num{
	width:136px;
}

.email_list .content .content_col.name{
	width:235px;
}

.email_list .content .content_col.email{
	width:155px;
}

.email_list .content .content_col.operation{
	width:118px;
	cursor: pointer;
	text-align: center;
	text-indent: 0;
	
}
.email_list .content .content_col.operation a {
	color:#666666;
}
.email_list .content .content_col.operation a:HOVER {
	color:red;
}
.email_list .content .content_col.operation2{
	width:118px;
	text-align: center;
	text-indent: 0;
}

.email_list .content .notices_item .content_col.time{
	width:120px;
}

.email_list .content .notices_item .content_col.num{
	width:136px;
}

.email_list .content .notices_item .content_col.name{
	width:235px;
}

.email_list .content .notices_item .content_col.email{
	width:155px;
}

.email_list .content .notices_items .content_col.operation{
	width:118px;
	cursor: pointer;
	text-align: center;
	text-indent: 0;
}

.email_list .content .notices_items .content_col.operation a{
	color: #3f67bf;
}

.email_list .content .notices_items .select .content_col.operation{
	color:#3f67bf;
}



.page_index{
	height:35px;
	text-align: center;
	margin-top:60px;
	margin-bottom:47px;
}
.page_index .page{
	background: #e5e5e5;
	color:#666666;
	width:35px;
	margin-left:2px;
	margin-right:3px;
	height:35px;
	text-align: center;
	line-height:35px;
	display:inline-block;
	
	*zoom:1;
	*display:inline;
}

.page_index .page a{
	color:#666666;
	display: block;
	height:35px;
}
.page_index .page:hover{
	background: #3f67bf;
}

.page_index .page:hover a{
	color:#ffffff;
}

.page_index .page.now{
	background: #3f67bf;
}

.page_index .page.now a{
	color:#ffffff;
}

.page_index .next_page,.page_index .prev_page{
	width:45px;
}

.page_index .next_page a,.page_index .prev_page a{
	width:100%;
	height:100%;
	background: url(../../image/user/member/page.png) center no-repeat;
}

.page_index .next_page a{
	background-position: -45px 0;
}

.page_index .prev_page a{
	background-position: 0 0;
}

.page_index .next_page a:hover{
	background-position: -45px -35px;
}

.page_index .prev_page a:hover{
	background-position: 0 -35px;
}



.product_list{
	margin-top:22px;
	overflow: hidden;
	padding:0 2px;
	margin-bottom:60px;
}

.product_list .product{
	float:left;
	width:240px;
	height:120px;
	background: #e6e6e6;
	margin:0 13px;
}
.down{
	color: #3f67bf;
}