.head_mid .main_title{
	display: none;
}

.middle .h_layout{
	padding-bottom:66px;
}

.middle .nav_index{
	height:42px;
}
.middle .nav_index li{
	line-height:42px;
	font-size:13px;
	display:inline;
}
.middle .nav_index li a{
	color:#535353;
}

.agree_body{
	background: #fff;
	padding:50px 35px 60px;
}

.agree_body h1{
	font-family:"Microsoft Yahei";
	font-size:22px;
	font-weight:normal;
	text-align: center;
	padding-bottom:36px;
	margin-bottom:30px;
	border-bottom:1px dashed #ccc;
}

.agree_body p{
	line-height:22px;
}

.agree_body p.h4{
	font-weight:bold;
}

.agree_body p.p2{
	text-indent: 4em;
}