<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>ebusiness Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring/applicationContext*.xml,
		</param-value>		
	</context-param>
	<!-- 保全申请书下载地址 -->
	<context-param>
	    <param-name>bqfilepath</param-name>
	    <param-value>/app/mis/business/businessManage/downloadFileMng/file</param-value>
	</context-param>
	<!-- 理赔申请书下载地址 -->
	<context-param>
	    <param-name>lpfilepath</param-name>
	    <param-value>/app/mis/business/businessManage/downloadFileMng/file2</param-value>
	</context-param>
	<!-- 电子保单下载地址 -->
	<context-param>
	    <param-name>contfilepath</param-name>
	    <param-value>/app/download/ehome</param-value>
	</context-param>
	<!-- 保全批单下载地址 -->
	<context-param>
	    <param-name>pdfilepath</param-name>
	    <param-value>/app/download/MallVTSStore</param-value>
	</context-param>
	
	<!-- filter for TraceFilter 首先过滤 -->
<!-- 	<filter> -->
<!-- 		<filter-name>traceFilter</filter-name> -->
<!-- 		<filter-class>cn.com.sinosoft.ebusiness.log.webfilter.TraceFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>traceFilter</filter-name> -->
<!-- 		<url-pattern>*.do</url-pattern> -->
<!-- 	</filter-mapping> -->
<!-- 	<filter> -->
<!-- 		<filter-name>autoLoginFilter</filter-name> -->
<!-- 		<filter-class>cn.com.sinosoft.ebusiness.init.listener.AutoLoginFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>autoLoginFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

	<!-- webservices服务器端 -->
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/servlet/DisplayChart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!-- 著名 Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>cn.com.sinosoft.util.web.urlFilter.GBKEncodeFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spring security start -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spring security end -->

	<!-- Request URL Filter start -->
	<filter>
		<filter-name>URLFilter</filter-name>
		<filter-class>cn.com.sinosoft.util.web.urlFilter.URLFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>URLFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Request URL Filter end -->

	<!--Hibernate Open Session in View Filter -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<!-- hibernateFilter位置放在此处是为解决延迟加载和事务提交的问题 -->
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/struts/*</url-pattern>
	</filter-mapping>

<!-- 	<filter> -->
<!-- 	<filter-name>struts-cleanup</filter-name> -->
<!-- 	<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class> -->
<!-- 	</filter> -->

<!-- 	<filter-mapping> -->
<!-- 	<filter-name>struts-cleanup</filter-name> -->
<!-- 	<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 页面元素的GZIP压缩 Filter -->
	<filter>
		<filter-name>compressFilter</filter-name>
		<filter-class>ins.framework.web.CompressFilter</filter-class>
		<init-param>
			<param-name>ignoreKey</param-name>
			<param-value>.js,.css,.gif,.jpg,.png,.vbs</param-value>
		</init-param>
	</filter>
	<!-- 页面元素的GZIP压缩 Filter，减少网络带宽 -->
	<filter-mapping>
		<filter-name>compressFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--Spring ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- cacheManager 服务端缓存 -->
	<listener>
		<listener-class>ins.framework.cache.CacheManagerInitListener</listener-class>
	</listener>

	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
<!-- 	出错页面定义 -->
	<error-page>
		<error-code>500</error-code>
		<location>/global/ui/404.jsp</location>
		</error-page>
		<error-page>
		<error-code>404</error-code>
		<location>/global/ui/404.jsp</location>
		</error-page>
		<error-page>
		<error-code>403</error-code>
		<location>/global/ui/404.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>initListener</servlet-name>
		<servlet-class>cn.com.sinosoft.ebusiness.init.listener.Init</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dwr-invoke</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value> true </param-value>
		</init-param>
		<init-param>
			<param-name>classes</param-name>
			<param-value>java.lang.Object</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>allowScriptTagRemoting</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoke</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>oauthFilter</filter-name>
		<filter-class>cn.com.sinosoft.ebusiness.init.listener.OAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>oauthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>  
        <servlet-name>PictureCheckCode</servlet-name>  
        <servlet-class>cn.com.sinosoft.ebusiness.userPersonal.action.PictureCheckCode</servlet-class>  
    </servlet>  
  
    <servlet-mapping>  
        <servlet-name>PictureCheckCode</servlet-name>  
        <url-pattern>/PictureCheckCode.jpeg</url-pattern>  
    </servlet-mapping>
	
</web-app>
