.alert_panel{
	background:#ffffff;
    display:none;
    width:560px;
    min-width:300px;
    text-align:center;
    line-height:16px;
	z-index:10004;
	border:5px #333 solid;
	position:fixed;
	font-family:'Microsoft Yahei','ו';
	padding-bottom: 21px;
}

.alert_title{
	width:100%;
	height:40px;
	line-height:40px;
	text-indent:1em;
	text-align:left;
	color:#333333;
	font-weight:bold;
	font-size:14px;
	word-wrap:break-word;
	display: block;
}

.alert_close_icon{
	width:30px;
	height:30px;
	background: url(alert_close.png) no-repeat;
	cursor: pointer;
	position:absolute;
	top:0;
	right:0;
}


.content_container{
	padding:0 20px;
}
.alert_content{
	min-height:50px;
	line-height:40px;
	color:#333333;
	font-size:20px;
	word-break:break-all;
	padding-bottom:20px;
	border-bottom:1px dashed #cccccc;
	background: url(alert.png) no-repeat 6px 20px;
}
.alert_no_sub_content{
	border-bottom:0;
}
.alert_sub_content{
	line-height:24px;
	color:#333333;
	font-size:14px;
	word-break:break-all;
	text-align:justify;
	padding:0 30px;
	padding-top:16px;
	margin: 0 15px;
	margin-bottom:40px;
}

.alert_content_loading.content_mid,.alert_content_loading.content_left{
	min-height:0;
	text-align: center;
	background: none;
	padding:20px 20px;
}
.content_left,.content_mid{
	text-align:justify;
	padding:0 10px 0 30px;
	padding-top:10px;
	margin: 0 15px;
}

.button_container{
	text-align: center;
}

.btn_box{
	width:50%;
 	height:40px;
 	display: inline-block;
 	
 	*zoom:1;
 	*display:inline;
 	vertical-align: middle;
}
.box_single{
	padding-bottom :5px;
	border-radius:3px;
	margin-bottom:15px;
}


.alert_confirm,.alert_close{
	text-align: center;
	position:static;
	width:137px;
 	height:38px;
 	line-height:38px;
 	border: none;
 	color:#fff;
	font-size:14px;
 	padding:0;
 	font-weight:bold;
 	position:relative;
	margin: 0 auto;
	cursor: pointer;
}
.alert_confirm{
	background: url(left_btn_bg.png) no-repeat;
	margin-right: 25px;
	float:right;
}

.box_single .alert_confirm{
	margin: 0 auto;
	float:none;
}

.alert_close{
	background: url(right_btn_bg.png) no-repeat;
	margin-left: 25px;
	float:left;
}

.btn_box .alert_only_btn{
	margin:0 auto;
	float:none;
}

.alert_confirm:active,.alert_close:active
{
	top:1px;
	left:1px;
}

.alert_mask{
	opacity:0.66;
	filter:alpha(opacity=66);
	background:#000;
	z-index:10003;
	top:0;
	left:0;
	position:absolute;
}

.alert_loading{
	width:40px;
	height:auto;
	margin-top:15px;
}

.alert_login_btn{
	background: url(img/alert_login_btn.png) no-repeat;
	width:262px;
	height:42px;
	line-height:42px;
 	border: none;
 	color:#fff;
	font-size:14px;
 	padding:0;
 	text-align:center;
 	font-weight:bold;
 	position:relative;
	margin: 0 auto;
	cursor: pointer;
}

.alert_login_link{
	height:26px;
	line-height:26px;
	width:262px;
	margin:0 auto;
}

.alert_login_link .alert_login_link_l{
	float:left;
}
.alert_login_link .alert_login_link_r{
	float:right;
}
.alert_login_link a{
	color:#3399ff;
	font-weight:bold;
}

.alert_login_link a:hover{
	text-decoration: underline;
}
.alert_login_link a.alert_login_link_un{
	color:#000;
	font-weight:normal;
}