<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
  <tr>
    <td width="*" bgcolor="#ffffff">&nbsp;</td>
    <td width="738">
		    <table style="font-family:'微软雅黑';font-size:12px;" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr> 
					<td rowspan="2" style="padding-left: 46px;height:90px;"><img src="${logo}"/></td>
					<td style="padding-right: 43px;text-align:right;color:#cccccc; ">
						如果您不希望收到此邮件，请点击<a href="${unsubscribe}" style="color:#ff3333;">退订</a>
				    </td>
				</tr>
				<tr>
					<td>
					<table style="font-family:'微软雅黑';"><tbody><tr> 
						<td width="150"></td>
						<td style="text-align: center;line-height:20px;color:#8c8c8c; font-size:15px;"><a href="${hotProductList}" style="color:#8c8c8c;text-decoration: none;padding:0 9px; word-break: keep-all;">热销产品</a><span>|</span></td>
						<td style="text-align: center;line-height:20px;color:#8c8c8c; font-size:15px;"><a href="${serviceCenter}" style="color:#8c8c8c;text-decoration: none;padding:0 9px; word-break: keep-all;">客户服务</a><span>|</span></td>
						<td style="text-align: center;line-height:20px;color:#8c8c8c; font-size:15px;"><a href="${loginPage}" style="color:#8c8c8c;text-decoration: none;padding:0 9px; word-break: keep-all;">登录服务</a></td>
					</tr></tbody></table>
					</td>
				</tr>
				
				
				<tr><td colspan="2" style="border-bottom:5px solid #3f67bf;"></td></tr>
				<tr><td colspan="2" style="font-size:14px;line-height:25px;padding:20px 97px 0 55px;color:#333333;">尊敬的<span style="color:#ff0000;">${fullName}</span>${genderTag}：</td></tr>
				<tr><td colspan="2" style="font-size:14px;line-height:25px;padding:20px 67px 0 85px;color:#333333;">我们已经收到您为<span style="color:#ff0000;">${insFullName}</span>投保的${productName}投保申请，信息如下：</td></tr>
				<tr>
					<td colspan="2" style="font-size:14px;padding-left:55px;padding-top:10px;">
						<table style="font-family:'微软雅黑';" width="630" border="0" cellspacing="0" cellpadding="0"><tbody>
							<tr> 
								<td colspan="4" bgcolor="#3f67bf" height="40" style="font-size:14px;color:#fff;text-indent:22px;">保单信息</td>
							</tr>
							<tr> 
								<td width="150" height="35" style="font-weight:bold;font-size:12px;color:#666;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">产品名称</td>
								<td width="195" height="35" style="font-weight:bold;font-size:12px;color:#666;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">投保单号</td>
								<td width="70" height="35" style="font-weight:bold;font-size:12px;color:#666;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">份数</td>
								<td width="85" height="35" style="font-weight:bold;font-size:12px;color:#666;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">金额（元）</td>
							</tr>
							<tr> 
								<td width="150" height="35" style="font-size:12px;color:#999;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">${productName}</td>
								<td width="195" height="35" style="font-size:12px;color:#999;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">${policyNo}</td>
								<td width="70" height="35" style="font-size:12px;color:#999;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">${count}</td>
								<td width="85" height="35" style="font-size:12px;color:#999;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">${premium}</td>
							</tr>
							<tr> 
								<td colspan="4" width="150" height="35" style="font-weight:bold;font-size:12px;color:#ff0000;text-align: center;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;">汇总：${grossPremium}</td>
							</tr>
						</tbody></table>
				     </td>
				</tr>
				<tr><td colspan="2" style="font-size:14px;line-height:25px;padding:20px 97px 0 55px;color:#333333;">保单要支付成功后才能生效。</td></tr>
				<tr><td colspan="2" style="font-size:14px;line-height:25px;padding:20px 55px 0 55px;color:#333333;text-align:center;"><a href="${orderPay}" style="color:#ff3333;font-weight:bold;">立即支付</a></td></tr>
				<tr>
					<td colspan="2" style="font-size:14px;padding-top:80px;padding-left:49px;">
						<img src="${title}"/>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="font-size:12px;padding:0 9px;padding-top:10px;">
						<table style="font-family:'微软雅黑';" width="711" height="220" border="0" cellspacing="0" cellpadding="0"><tbody>
						<tr>
							<td width="45"></td> 
							<td bgcolor="#ffffff" valign="top" style="border-right:1px dashed #ccc;width:196px; padding-right:10px;">
								<table style="font-family:'微软雅黑';font-size:12px;" width="196" border="0" cellspacing="0" cellpadding="0"><tbody>
									<tr><td><img style="width:190px;height:auto;margin-left:3px;" src="${productImage_1}" onclick="window.open({productUrl_1},'_blank')"/></td></tr>
									<tr><td style="text-align:left;width:195px;font-weight:bold;color:#3f67bf;line-height:40px;"><a href="${productUrl_1}">百万身驾</a></td></tr>
									<tr><td style="text-align:left;width:195px;color:#3c3c3c;height:55px;"><span><b>产品简介：</b></span>一款保额高达200万，最适合有车一族的人身保险。保障期限长达30年，满期返还保费的120%。每天只需2元，超低保费。</td></tr>
								</tbody></table>
							</td>
							<td bgcolor="#ffffff" valign="top" style="border-right:1px dashed #ccc;width:196px; padding :0 10px;">
								<table style="font-family:'微软雅黑';font-size:12px;" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody>
									<tr><td><img style="width:190px;height:auto;margin-left:3px;" src="${productImage_2}" onclick="window.open({productUrl_2},'_blank')"/></td></tr>
									<tr><td style="text-align:left;width:195px;font-weight:bold;color:#3f67bf;line-height:40px;"><a href="${productUrl_2}">懒人理财宝</a></td></tr>
									<tr><td style="text-align:left;width:195px;color:#3c3c3c;"><span><b>产品简介：</b></span>稳健性短期投资首选；</td></tr>
									<tr><td style="text-align:left;width:195px;color:#3c3c3c;">全网已有5000个客户做了选择！</td></tr>
									<tr><td style="text-align:left;width:195px;color:#3c3c3c;">半年、9个月、1年持有期三档任选；</td></tr>
									<tr><td style="text-align:left;width:195px;color:#3c3c3c;">1年期预期年化收益率5.3%；</td></tr>
								</tbody></table>
							</td>
							<td bgcolor="#ffffff" valign="top" style="width:196px; padding-left :10px;">
								<table style="font-family:'微软雅黑';font-size:12px;" width="196" border="0" cellspacing="0" cellpadding="0"><tbody>
									<tr><td><img style="width:190px;height:auto;margin-left:3px;" src="${productImage_3}" onclick="window.open({productUrl_3},'_blank')"/></td></tr>
									<tr><td style="text-align:left;width:195px;font-weight:bold;color:#3f67bf;line-height:40px;"><a href="${productUrl_3}">出行无忧计划</a></td></tr>
									<tr><td style="text-align:left;width:195px;color:#3c3c3c;height:55px;"><span><b>产品简介：</b></span>商务出行、蜜月度假、回家探亲必选；飞机、火车（动车、高铁、地铁）、客车、轮船、自驾车意外险；按需选择，更低价。</td></tr>
								</tbody></table>
							</td>
							<td width="45"></td> 
						</tr>
						</tbody></table>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="font-size:14px;padding:0 9px;padding-top:40px;padding-bottom:40px;border-bottom:1px dashed #b1b1b1;">
					<table style="font-family:'微软雅黑';" width="711" border="0" cellspacing="0" cellpadding="0"><tbody><tr>
						<td width="35"></td> 
						<td width="302" height="102" style="background:url(${dimensionalCode_bg}) no-repeat;height:102px;">
							<table style="font-family:'微软雅黑';" width="302" height="102" border="0" cellspacing="0" cellpadding="0"><tbody>
								<tr> 
									<td rowspan="3" height="90" style="padding-left:5px;"><img src="${dimensionalCode_mc}"/></td>
									<td width="200" style="font-size:20px; color:#000; font-weight:bold;padding-top:5px;">微信二维码</td>
								</tr>
								<tr><td style="font-size:12px; color:#ff3333; font-weight:bold;">扫描二维码加入信泰保险</td></tr>
								<tr><td style="font-size:12px; color:#999999;">搜索微信号 xintairenshou001</td></tr>
							</tbody></table>
						</td>
						<td width="20"></td>
						<td width="302" height="102" style="background:url(${dimensionalCode_bg}) no-repeat;">
							<table style="font-family:'微软雅黑';" width="302" height="102" border="0" cellspacing="0" cellpadding="0"><tbody>
								<tr> 
									<td rowspan="3" height="90" style="padding-left:5px;"><img src="${dimensionalCode_mb}"/></td>
									<td width="200" style="font-size:20px; color:#000; font-weight:bold;padding-top:5px;">关注@信泰保险</td>
								</tr>
								<tr><td style="font-size:12px; color:#ff3333; font-weight:bold;">关注信泰保险官方微博</td></tr>
								<tr><td style="font-size:12px; color:#999999;">搜索微博号 @信泰保险</td></tr>
							</tbody></table>
						</td>
						<td width="35"></td>
					</tr></tbody></table>
					</td>
				</tr>
				<tr><td colspan="2" style="padding-top:10px;line-height:22px;font-size:12px;text-align: center;color:#555555;">本邮件的最终解释权归信泰保险保险有限公司拥有</td></tr>
				<tr><td colspan="2" style="font-size:12px;line-height:22px;text-align: center;color:#555555;">如有任何疑问请拨打全国客服热线：400-600-8890  或<a href="${contactUrl}" style="color:#ff3333;">联系我们</a></td></tr>
				<tr><td colspan="2" style="font-size:12px;text-align: center;line-height:30px;color:#ccc;">这只是一封系统自动发出的邮件，请不要直接回复。</td></tr>
			</tbody>
		</table>
	</td>
    <td width="*" bgcolor="#ffffff">&nbsp;</td>
  </tr>
</table>