<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/ng-context-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!--	 common 的服务接口-->
	<bean id="exceptionService" class="cn.com.sinosoft.ebusiness.common.basicBizInfo.service.spring.ExceptionServiceSpringImpl"/>
	<bean id="bizCommonService" class="cn.com.sinosoft.ebusiness.common.basicBizInfo.service.spring.BizCommonServiceSpringImpl" />
<!-- 	<bean id="synchCoreRiskAndKindService" scope="singleton" -->
<!-- 		class="cn.com.sinosoft.ebusiness.common.basicBizInfo.service.spring.SynchCoreRiskAndKindSpringImpl" init-method="init"> -->
<!-- 		<property name="kindMappingConfigPath" value="kindMapping.xml"/> -->
<!-- 		<property name="kindConfigPath" value="kind.xml"/> -->
<!-- 	</bean> -->
	
  	<!--mail-->
	<bean id="mailService" class="cn.com.sinosoft.ebusiness.common.basicBizInfo.service.spring.mail.MailService"> 
		<property name="sender" ref="mailSender" />
		<property name="velocityEngine" ref="velocityEngine"></property>
		<property name="configPath" value="mailConfig.xml"></property>
	</bean>
	<!--mailSender-->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl" >
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="javaMailProperties">
			<props>
		    <!-- 如果要使用用户名和密码验证,这一步需要 -->
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
	</bean>
	<!--velocityEngine-->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader 
				</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>
	<bean id="sendEmailService" class="cn.com.sinosoft.ebusiness.common.basicBizInfo.service.spring.SendEmailServiceSpringImpl"/>
</beans>
