.head_mid .main_title{
	display: none;
}

.middle .h_layout{
	padding-bottom:19px;
}

.middle .nav_index{
	height:42px;
}
.middle .nav_index li{
	line-height:42px;
	font-size:13px;
	display:inline;
	color:#3c3c3c;
}
.middle .nav_index li a{
	color:#3c3c3c;
}
.middle .nav_index li a:hover{
	color:#3f67bf;
}

.service_main{
	overflow: hidden;
}

.left_dynamic{
	width:230px;
	float:left;
}

.left_dynamic .dynamic_frame{
	border-left:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	border-top:2px solid #999999;
	background: #fff;
}


/*客服中心链接列表*/
.service_map{
	border:2px solid #3f67bf;
	padding-bottom:10px;
	margin-bottom:10px;
	background: #fff;
}

.service_map .category{
	margin:5px auto;
	width:189px;
	overflow: hidden;
}

.service_map .category .link_list{
	padding:0 10px;
}

.service_map .category a{
	display: block;
	float:left;
	width:80px;
	height:14px;
	line-height:14px;
	margin:5px 0;
	text-align: center;
	color:#333;
}

.service_map .category a:hover{
	color:#ff3333;
}


.service_map .category .cate_name{
	font-size:14px;
	line-height:40px;
	height:40px;
	color:#3f67bf;
	border-bottom:1px dashed #999999;
	margin-bottom:10px;
}

.service_map .category .cate_name div{
	background: url(../../image/service/service_left_img.png) no-repeat;
	width:24px;
	height:24px;
	float:left;
	margin-top:8px;
	margin-right:8px;
}

.service_map .category.query .cate_name div{
	background-position: 0 0;
}
.service_map .category.business .cate_name div{
	background-position: 0 -24px;
}
.service_map .category.claims .cate_name div{
	background-position: 0 -48px;
}
.service_map .category.download .cate_name div{
	background-position: 0 -72px;
}

/*左侧面板统一样式*/
.left_dynamic .dynamic_frame{
	border-left:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	border-top:2px solid #999999;
	background: #fff;
}

.left_dynamic .dynamic_title{
	font-size:14px;
	line-height:34px;
	color:#333;
	padding:0 12px;
	overflow: hidden;
}

.left_dynamic .dynamic_title p{
	float:left;
}

.left_dynamic .dynamic_title .more{
	float:right;
	font-size:12px;
}

.left_dynamic .dynamic_title .more a{
	color:#3c3c3c;
}
.left_dynamic .dynamic_title .more a:hover{
	color:#3f67bf;
}

.left_dynamic .dynamic_list{
	padding:7px;
	padding-top:0;
}

.left_dynamic .dynamic_list li{
	border-bottom:1px dashed #dedede;
}

.left_dynamic .dynamic_list li.last{
	border-bottom:0;
}

/*咨询客服*/

.call_service{
	margin-bottom:10px;
}

.call_service .item{
	height:64px;
	padding-left:25px;
}

.call_service .item .icon{
	width:40px;
	height:40px;
	background: url(../../image/service/service_left_img.png) no-repeat;
	float:left;
	margin-top:12px;
}

.call_service .item.call .icon{
	background-position: -24px 0;
}

.call_service .item.online .icon{
	background-position: -24px -40px;
}
.call_service .item .content{
	float:left;
	margin-left:10px;
	margin-top:12px;
}

.call_service .item .content p{
	color:#999999;
	line-height:18px;
}
.call_service .item .content .call_num{
	width:132px;
	height:15px;
	background: url(../../image/service/service_left_img.png) no-repeat 0 -96px;
}

.call_service .item .content .online_serve{
	width:71px;
	height:20px;
	background: url(../../image/service/service_left_img.png) no-repeat -64px -72px;
	position:relative;
	color:#fff;
	font-size:13px;
	text-align: center;
	line-height:20px;
	cursor: pointer;
}

/*利率公告*/
.interest_notice .notice_select{
	font-weight: bold;
	padding:2px;
	line-height:16px;
	height:16px;
	display:block;
	margin-left:12px;
	margin-top:10px;
	width:198px;
	border:1px solid #c9c9c9;
}

.interest_notice .tip_notice{
	color:#8e8e8e;
	padding:2px;
	line-height:16px;
	height:16px;
	display:block;
	margin-left:12px;
	width:198px;
}

.interest_notice .interest_date{
	color:#333;
	margin:12px 12px 0;
}
.interest_notice .interest_info{
	margin:8px 12px 12px;
	background: #f0f0f0;
}

.interest_notice .info_row{
	height:50px;
	line-height:50px;
	text-align: center;
}

.interest_notice .info_row.label{
	line-height:26px;
	height:26px;
	border-bottom:1px dashed #dedede;
}

.interest_notice .info_row .day{
	width:100px;
	float:left;
}
.interest_notice .info_row .year{
	width:100px;
	float:right;
}

.interest_notice .view_detail{
	margin:0 12px 12px;
	text-align: right;
}

.interest_notice .view_detail a{
	color:#0066cc;
}
.interest_notice .view_detail a:hover{
	text-decoration: underline;
}
/*销售产品排行*/
.product_rank{
	margin-top:10px;
}

.product_rank .rank_list{
	overflow: hidden;
}

.product_rank .rank_list li .rank{
	margin:0 5px;
	padding:7px 0;
	height:50px;
}

.product_rank .rank_list li .rank .rank_img{
	width:50px;
	height:50px;
	background: #dddddd;
	float:left;
}

.product_rank .rank_list li .rank .rank_img a{
	display: block;
	height:50px;
}

.product_rank .rank_list li .rank .rank_title{
	float:left;
	width:110px;
	padding-left:8px;
	padding-top:5px;
	line-height:18px;
}

.product_rank .rank_list li .rank .rank_title a{
	color:#3c3c3c;
}
.product_rank .rank_list li .rank .rank_title a:hover{
	color:#3f67bf;
}

.right_content{
	width:760px;
	float:right;
}

.right_content .service_head{
	width:760px;
	height:280px;
	margin-bottom:10px;
	position:relative;
}

.service_head .head_action{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

.service_head .head_action .action_layout{
	display: none;
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
}
.service_head .head_action .action_layout.active{
	display: block;
}

.service_head .action_layout a{
	display: block;
	height:100%;
}

.display_nav{
	text-align: center;
	cursor:default;
	width:100%;
	position:absolute;
	bottom:15px;
	z-index:4;
}

.display_nav div{
	width:11px;
	height:11px;
	background: url(../../image/product/display_nav_icon.png) no-repeat;
	background-position: -11px 0;
	margin:0 5px;
	display: inline-block;
 	vertical-align: middle;
	cursor: pointer;
}
.display_nav div{
	*display:inline;
}

.display_nav div.active{
	background-position: 0 0;
}




.login_status{
	width:283px;
	height:200px;
	padding-top:10px;
	border:4px solid #c5c6c7;
	float:right;
	background: #fff;
	z-index:2;
	position: absolute;
	right:18px;
	bottom:0;
}

.login_status label.input_label{
	display:block;
	margin:0;
	margin-left:30px;
}

.login_status label.input_label{
	font-size:14px;
	font-weight: bold;
	color:#666;
	line-height:26px;
	margin-top:8px;
}

.login_status .action{
	margin-left:30px;
	margin-top:15px;
	padding-left:2px;
}

.login_status .action label{
	padding: 0 8px 0 4px;
	display: block;
}


.login_status .action .user_name{
	color:#ff3333;
}

.login_status .user_link{
	height:80px;
	margin:0 30px;
	padding-top:20px;
}

.login_status .user_link .link{
	float:left;
	height:18px;
	padding-left:24px;
	background: url(../../image/index/index_user_icon.png) no-repeat;
	color:#666;
	font-size:14px;
	line-height:18px;
	margin:10px 0;
}

.login_status .user_link .link a{
	color:#666;
}

.login_status .user_link .link.right{
	float:right;
}

.login_status .user_link .link.policy{
	background-position: 0 0;
}

.login_status .user_link .link.order{
	background-position: 0 -18px;
}

.login_status .user_link .link.claims{
	background-position: 0 -36px;
}

.login_status .user_link .link.email{
	background-position: 0 -54px;
}
