<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:s="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-lazy-init="true">

	<description>SpringSecurity安全配置</description>

	<!-- http安全配置 -->
	<s:http auto-config="false" use-expressions="true" entry-point-ref="authenticationProcessingFilterEntryPoint">
		<!-- 常用被保险人维护 -->
		<s:intercept-url pattern="/insured/*" access="hasRole('ROLE_PERSONALUSER')"/>
		<!-- 个人信息更新 -->
		<s:intercept-url pattern="/edit/*" access="hasRole('ROLE_PERSONALUSER')"/>
		<!-- 会员中心 -->
		<s:intercept-url pattern="/memberCenter/*" access="hasRole('ROLE_PERSONALUSER')"/>
		<!-- 订单管理 -->
		<s:intercept-url pattern="/order/*" access="hasRole('ROLE_PERSONALUSER')"/>
		
		<s:intercept-url pattern="/sale/obtainContinueInsuranceDataEmail.do" filters="none" />
		<s:intercept-url pattern="/payment/toPaymentEmail.do" filters="none" />
		
		<!-- 核心模块 -->
<!-- 		<s:intercept-url pattern="/claims/initClaimProcess.do" access="hasRole('ROLE_PERSONALUSER')"/> -->
		<s:intercept-url pattern="/claims/claimDetail.do" access="hasRole('ROLE_PERSONALUSER')"/>
		<s:intercept-url pattern="/info/*" access="hasRole('ROLE_PERSONALUSER')"/>
		<s:intercept-url pattern="/email/*" access="hasRole('ROLE_PERSONALUSER')"/>
		<s:intercept-url pattern="/myPolicyDetail/*" access="hasRole('ROLE_PERSONALUSER')"/>
		<s:intercept-url pattern="/bq/*" access="hasRole('ROLE_PERSONALUSER')"/>
				
		<s:intercept-url pattern="*.do" access="hasAnyRole('ROLE_PERSONALUSER')" />
<!-- 		<s:intercept-url pattern="/**" access="hasAnyRole('ROLE_PERSONALUSER')" /> -->
		<s:custom-filter position="FORM_LOGIN_FILTER" ref="activeAuthenticationFilter" /><!--个人用户的登录的过滤器 -->
		<s:logout logout-success-url="/web/user/login/index.jsp" />
	</s:http>
	
	<!-- 个人用户 -->
	<bean id="activeAuthenticationFilter" class="cn.com.sinosoft.ebusiness.service.user.personal.service.spring.UserPersonalActiveAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationSuccessHandler" ref="successHandler"></property>
		<property name="authenticationFailureHandler" ref="failureHandler"></property>
	</bean>

	<!--个人用户 -->
	<bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="defaultTargetUrl" value="/login/userPersonalLogin.do" />
		<property name="alwaysUseDefaultTargetUrl" value="true" />
	</bean>

	<bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/web/user/login/index.jsp?error=yes" />
	</bean>

	<!-- 认证配置, 使用userDetailsService提供的用户信息 -->
	<s:authentication-manager alias="authenticationManager">
		<!--个人用户 -->
		<s:authentication-provider user-service-ref="userDetailsService">
			<s:password-encoder hash="md5" />
		</s:authentication-provider>
	</s:authentication-manager>
	
	<bean id="userDetailsService" class="cn.com.sinosoft.ebusiness.service.user.common.service.spring.LoginUserInfoService" />
<!-- 	<bean id="md5" class="cn.com.sinosoft.ebusiness.service.user.personal.service.spring.MD5CapitalPasswordEncoder" /> -->
	
	<!-- 未登录的切入点 -->
	<bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<property name="loginFormUrl" value="/web/user/login/index.jsp"></property>
	</bean>
</beans>
