.survey{ background: url(../../images/common/survey_bg.jpg) repeat-x #e0eaf2;}
.survey_content_center_wrap{ float: none; width: 915px; margin: 0 auto;}
.survey_content_center_wrap .survey_content{ width: 912px; height: 159px; background: url(../../images/common/survey_doc_bg.jpg) no-repeat;}
.header{ height: 159px;}
.survey_main_wrap{ width: 912px; background: url(../../images/common/survey_box_border_left.jpg) left top no-repeat;}
.survey_main_wrap .heart{ position: absolute; width: 62px; height: 134px; margin: -57px 0 0 805px; display: inline; background: url(../../images/common/icon_heart.jpg) no-repeat}
.survey_main{ float: right; width: 905px; background: url(../../images/common/survey_box_border_right.jpg) right top no-repeat;}
.survey_main .notice{ width: 896px; border: 1px solid #98b9d6; border-top: 0; border-bottom: 0; background: url(../../images/common/survey_doc_title_bg.jpg) no-repeat white;}
.survey_main .notice .notice_top{ width: 100%; height: 25px; line-height: 25px; text-indent: 36px; font-weight: bold; color: #f80; background: url(../../images/common/icon_pencil.gif) 16px center no-repeat;}
.survey_main .notice .notice_words{ width: 100%; height: 26px; line-height: 26px; text-indent: 36px; color: #603811;}
.survey_main .notice .notice_bottom{ width: 870px; margin: 0 11px; padding: 1px; display: inline; border: 1px solid #d9e2f2; border-bottom: 1px dashed #d9e2f2;}
.survey_main .notice .line{ width: 100%; background: url(../../images/common/survey_doc_titlebar_bg.jpg) repeat-x;}
.survey_main .notice .line .title_wrap{  width: 134px; margin: 0 auto;}
.survey_main .notice .line .title_wrap .title{ width: 120px; height: 28px; line-height: 28px; padding-left: 14px; display: inline; font-weight: bold; color: #009b63; background: url(../../images/common/icon_title_arrow.gif) left center no-repeat;}
.wrap_bottom{ width: 898px;}
.wrap_bottom .round_left{ width: 6px; height: 6px; background: url(../../images/common/survey_box_corner_lb.jpg) no-repeat;}
.wrap_bottom .round_center{ width: 886px; height: 5px; border-bottom: 1px solid #98b9d6; background: white;}
.wrap_bottom .round_right{ width: 6px; height: 6px; background: url(../../images/common/survey_box_corner_rb.jpg) no-repeat;}
.survey_copyright{ width: 100%; line-height: 20px; margin: 10px 0; text-align: center; color: #999;}
.stepbutton_wrap .submit { width: 89px; height: 26px; line-height: 26px; padding-right: 20px; margin-bottom: 20px; color: #fefefe; font-weight: bold; text-decoration: none;text-align: center; background: url(../../images/common/button_combo_3.gif) no-repeat;}
.submit_survey{ width: 110px; margin: 20px auto 0;}
.notice_main_contant{ /*height: 800px;*/}



#question{border-bottom:solid;border-bottom-width:1px;}

li{
	list-style-type:none;
	margin-left:-30px;
}
.div_question{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color:white white #EFEFEF;
    border-style:solid;
    border-width:2px 2px 1px;
    clear:both;
    height:auto;
    margin:2px auto;
    padding:4px 4px 5px;
    width:96%;
}
body{
    color: #444444;
    font-family: 'ו',ncursive,Arial,Verdana,Geneva,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
#div_container{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 20px auto 0;
    padding: 0;
    text-align: left;
    width:920px;
}
.div_question_title{
    color:#E36C09;
    font-size:13px;
    font-weight:bold;
    height:auto;
    padding-top:2px;
}
.div_radio_question{
    clear:both;
    font-size:12px;
}