<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/ng-context-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName" default-lazy-init="true">

	<!-- 自动生成序列号service -->
	<bean id="maxNoService" class="cn.com.sinosoft.ebusiness.xmltransfer.service.spring.MaxNoServiceSpringImpl" />

	<!-- servlet调用 -->
	<bean id="wsclientHelper" class="cn.com.sinosoft.ebusiness.tools.WSClientHelper" />

	<bean id="portalWebService" class="cn.com.sinosoft.ebusiness.dhf.service.spring.PortalWebServiceImpl" />

	<bean id="takeATaxiService" class="cn.com.sinosoft.ebusiness.dhf.service.spring.TakeATaxiServiceImpl" />

	<bean id="geFunctionSwitchPortalService" class="cn.com.sinosoft.ebusiness.dhf.service.spring.GeFunctionSwitchPortalServiceSpringImpl" />
</beans>
